body {
    background-color: rgb(6, 103, 135);
  }
  
  h1 {
    color: rgb(23, 21, 21);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  <style>

  a:link {https://youtu.be/}
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>